[user]
    name = Tim Macfarlane
    email = timmacfarlane@gmail.com
[color]
    ui = true
[alias]
    co = checkout
    st = status
    br = branch
    l = log -1
    sm = submodule update --init --recursive
    local = log @{u}..
    unpushed = log @{u}..
    unreleased = log $(git describe --abbrev=0)..
    clean-branches = "!git branch --merged | grep  -v '\\*\\|master' | xargs -n 1 git branch -d"
	s = stash
	sp = stash pop
[credential]
    helper = osxkeychain
[push]
    default = simple
    autoSetupRemote = true
[merge]
    conflictstyle = diff3
    tool = nvimdiff
[mergetool "vimdiff"]
    layout = "BASE,LOCAL + LOCAL,MERGED + BASE,REMOTE + REMOTE,MERGED"
[core]
    editor = nvim
    trustctime = false
[pull]
    rebase = true
[mergetool]
    keepBackup = false
    prompt = false
[core]
    attributesFile = ~/.gitattributes
    pager = delta --hyperlinks
	excludesfile = ~/.gitignore
[filter "lfs"]
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
[delta]
    features = side-by-side line-numbers
    syntax-theme = OneHalfDark
[init]
	defaultBranch = main
