[user]
    name = Tim Macfarlane
    email = timmacfarlane@gmail.com
[color]
    ui = true
[alias]
    co = checkout
    st = status
    br = branch
    l = log -1
    sm = submodule update --init --recursive
[credential]
    helper = osxkeychain
[push]
	default = simple
[merge]
	tool = opendiff
[core]
	editor = vim
	trustctime = false
[mergetool "tortoise"]
    cmd = "TortoiseMerge.exe" -base:"$BASE" -theirs:"$REMOTE" -mine:"$LOCAL" -merged:"$MERGED"
