window-rule {
    match app-id="Slack"
    open-on-workspace "communication"
    open-focused true
}

window-rule {
    match app-id="discord"
    open-on-workspace "communication"
    open-focused true
}

workspace "music" {
    open-on-output "DP-2"
}

window-rule {
    match app-id="Spotify"
    open-on-workspace "music"
    open-focused true
}

window-rule {
    match app-id="brave-eikjhbkpemdappjfcmdeeeamdpkgabmk-Default"
    open-on-workspace "music"
    open-focused true
}

workspace "windows" {
    open-on-output "DP-2"
}

window-rule {
    match app-id="virt-manager"
    open-on-workspace "windows"
    open-focused true
}

window-rule {
    match app-id="^Minecraft"
    open-fullscreen true
    open-focused true
}

window-rule {
    match app-id="io.github.dyegoaurelio.simple-wireplumber-gui"
    open-floating true
    open-focused true
}

window-rule {
    match app-id="org.pulseaudio.pavucontrol"
    open-floating true
    open-focused true
}

window-rule {
    match app-id="org.gnome.SystemMonitor"
    open-floating true
    open-focused true
}

window-rule {
    match app-id="com.github.wwmm.easyeffects"
    open-floating true
    open-focused true
}
